

/* Custom CSS po ito as activity */



body {
 background-color: rgb(225, 255, 245);
 }

 img {
        border-style: dotted;
 }



img.css-guide {
      
        width: 400px;
        border: #25a900;
      }
        


main {
    position: relative;
    background-color: rgb(255, 238, 170);
    border:thin solid #777;
    
       
}

#a { 
    float: left; 
    background-color:rgb(255, 219, 207); 
    padding:15px 15px 15px 15px; 
    width: 30%;   
    border-radius: 25px;
    margin:10px;

}

#b { 
    float: left; 
    background-color:rgb(210, 255, 219); 
    padding:15px 15px 15px 15px; 
    width: 30%;   
    border-radius: 25px;
    margin:10px;
    }

#c { 
    display:inline-block;
    background-color:rgb(186, 223, 255); 
    padding:15px 15px 15px 15px; 
    width: 30%;   
    border-radius: 25px;
    margin:10px;

    }
    
h1 {
    font-family: 'Comfortaa', cursive;
    font-size:30px;
    color: rgb(13, 163, 16);
    text-align: center;

}

h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(120, 61, 3);
}

h3 {
        font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:rgb(13, 114, 18);

}


p {
       font-family: Roboto, Arial, Helvetica, sans-serif;
       font-size: 13px;
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;

}

p.wrap{
    
        text-align: left;
        width: 25em; 
        padding:10px;
        border: 1px solid #25a900;
        background-color: beige;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        color:red;
        font-style: italic;
   
}

.author {
        color:rgb(255, 0, 191);
        font-size: 14px;
        font-style: italic;

}

.curly-bracket {
        color:rgb(255, 174, 0);
        font-weight: bold;

}

   a:link, a:visited {
    
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid rgb(176, 136, 23);
        padding: 2px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
   
  }


a:hover{

        background-color: rgb(237, 91, 0);
        color: white;
        padding: 20px , 20px;

}

 span {
         color: rgb(120, 0, 0);
         font-weight: bold;
         font-size: 14px;
 }
#hover {
        font-size: 11pt;
        font-family:Roboto;
        font-weight: bold;
        color: rgb(207, 0, 107);
}

.crosshair {
         cursor: crosshair;
         font-size: larger;
}

