
/*  --  This is my CSS for my MINI Project  */ 

* {
    box-sizing: border-box;
  }

body {

    font-family: 'Roboto', sans-serif;
    
}

/* Mobile First Approach */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    background-color: gold;
    background-size: cover;

}

header img {
    margin-top: 20px;
    width: 200px;
    border-radius: 50%;
    
}

header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}

header h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(63, 35, 2);
}
.top-navigation {
    background-color: #333;
    overflow: hidden;

}

.top-navigation a {
float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navigation a:hover {
    background-color: #ddd;
    color: black;
  }
  
  main {
    display: flex;
    flex-direction:column;
    border:1px solid rgb(145, 145, 145);
    height:auto;
    padding:5px;
    margin :10px 0px 10px 0px;
    
  }

   section {
    display: flex;
    flex-direction:column;
    width: 100%;

   }

    section img {
    width: 300px;
    float: right;
    padding: 5px;
    
    }

   .intro {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    width: 100%;
    padding: 5px;
    
;
   }

   section button {
    background-color: gold;
    color: rgb(138, 0, 0);
    width: 200px;
    padding: 5px 20px;
    border-radius: 20px;
    overflow: auto;
   }

   .right-side {
    background-color: orange;
    justify-content: space-around;
    width: 50%;    
    padding: 10px;
   


      
    }

    .right-side-img {
        width: 150px;
        padding: 5px;
     
     
    }


section {
    display: flex;
    flex-direction: row;
    margin: 0, auto;
    max-width: 1900px;
}
    section img {
        width: 300px;
        float: left;
        margin: 10px;
    }
 

article {
    flex-direction:row;
    justify-content: flex-start;

}

.photoshop {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
  
}

.author {
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 1rem;
    color:rgb(114, 114, 114);
    margin-top: -15px 0px 3px 5px ;
    }
 
 article ul li {
    display: inline;
    margin-left: 0px;
 }
    .checked  {
        display: inline;
        color : yellow;
        font-size : 20px;
    }
    .unchecked {
        font-size : 20px;
    }


article img {
    width: 100%;
    
}


footer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: aquamarine;
     
}



.footer-one {
    width: 25%;
    padding: 10px 10px 10px 50px ;
    text-align: left;
 
    
}
.footer-two {
    width: 25%;
    padding: 10px;
    text-align: left;
  
    
}

.footer-three {
    width: 25%;
    padding: 10px;
     text-align: left;
   
    
}   
.footer-four {
    width: 25%;
    padding: 10px;
    text-align: left;
  
    
}

.footer-bottom {
        width: 100%;
        color: white;
        font-family: Roboto;
        font-size: 12px;
        text-align: center;
        background-color: rgb(96, 54, 4);
        padding:10px;
    
}

h2 {

    font-family:'Poppins, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: rgb(30, 180, 30); 
    text-align: center;

}
 
summary a {
    justify-content:left;
    color: rgb(36, 36, 36);
    padding: 01.5rem;
    text-decoration: none;
    }

summary a:hover {
       color: rgb(12, 60, 27);
       font-weight: bold;

}


summary ul, li {

list-style: none;    



}
   }