
/*  --  This is my CSS for my MINI Project  */ 

* {
    box-sizing: border-box;
  }

body {

    font-family: 'Roboto', sans-serif;
    
}


/* Mobile First Approach */
  

@media (min-width:350px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
    background-image: url(./img/banner-mo.jpg); 
    background-size: cover;
    height: auto;

    
}

.subtitle {
    color: white;
    size: 12px;



}
 .logo {
    align-self: center;
    margin-top: 10px;
    width: 150px;
    border-radius: 50%;

    }
    
.logo-name {
    width: 250px;
    height: 30px;
    align-self:center;
}



header h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(63, 35, 2);
}
.top-navigation {
    background-color: #333;
    overflow: hidden;

}

.top-navigation a {
float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navigation a:hover {
    background-color: #ddd;
    color: black;
  }
  



  main {
    display: flex;
    flex-direction:column;
    border:1px solid rgb(145, 145, 145);
    height:auto;
    padding:5px;
    margin :10px;
    
  }

  p {
    color: #333;

  }


  
  section {
    display: flex;
    flex-direction:column;
    margin-top: 10px;
    max-width: 100%;
    
}


.course-title {
    color:rgb(219, 148, 8);
    font-size: 1.0rem;

}

.author {
    color: rgb(135, 135, 135);
    font-size: 0.8rem;
    }

section img {
    width: 400px;
    float: center;
    padding: 5px;
    margin: 5px;
    justify-content: flex-start;
    
    }
    
   .intro {
    width: 100%;
    padding: 8px;
    
   }

     section h1 {
        font-size: x-large;
        color:rgb(19, 52, 151)
    }

 
    aside {
        background-color: #ecfbec;
        padding: 10px;
    }
    

   .right-side {
    background-color: rgb(224, 255, 210);
    justify-content: space-around;
    width: 100%;    
    padding: 10px;
   
    }

    .right-side-img {
        width: 150px;
        padding: 5px;
        float: left;
     
     
    }


    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
       padding:20px;
        }

     
    
     footer h2 {
        font-size: 1.2em;
        color: #607f60;
        
     }

      footer a {
    
        justify-content:left;
        color: rgb(36, 36, 36);
        padding: 0.5rem;
        text-decoration: none;
        }
    
    footer a:hover {
           color: rgb(12, 60, 27);
           font-weight: bold;
    
    }
    
    footer ul, li {
    
    list-style: none;    


    }

    .footer-bottom {
      
        color: rgb(98, 98, 98);
        font-family: Roboto;
        font-size: 0.8rem;
        text-align: center;
        background-color: rgb(233, 230, 230);
        padding:10px;


}   




 @media (min-width:600px) { /* big landscape tablets, laptops, and desktops */ 

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 40vh;
        background-image: url(./img/banner.jpg);
        background-size: cover;
        width: 100%;
        height: auto;
        
    }


    section {
        display: flex;
        flex-direction:row;
        margin-top: 10px;
        max-width: 100%;
        
    }
    

    aside {
        background-color: #ecfbec;
        padding: 10px;
    }
    

   .right-side {
    background-color: rgb(224, 255, 210);
    justify-content: space-around;
    width: 35%;    
    padding: 10px;
   
    }

    .right-side-img {
        width: 150px;
        padding: 5px;
        float: left;
     
     
    }


    #courses   {  
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-items: center;
    
    padding:5px; 
    
}
    #courses img {
    border: 1px;
    
        
    }



footer {
    display: flex;
    flex-direction: row;
    width: 100%;

   
    }

 

 footer h2 {
    font-size: 1.2em;
    color: #607f60;
    
 }

  footer a {

    justify-content:left;
    color: rgb(36, 36, 36);
    padding: 0.5rem;
    text-decoration: none;
    }

footer a:hover {
       color: rgb(12, 60, 27);
       font-weight: bold;

}

footer ul, li {

list-style: none;    


}

.footer-bottom {
  
    color: rgb(98, 98, 98);
    font-family: Roboto;
    font-size: 0.8rem;
    text-align: center;
    background-color: rgb(233, 230, 230);
    padding:10px;

}

.logo {
        align-self: left;
        margin-top: 10px;
        width: 150px;
        border-radius: 50%;       
}   

.logo-name {
    width: 450px;
    height: 50px;

    
}




 }

 #courses p {

    overflow: hidden;
    text-overflow: ellipsis;
   }


   #myBtn {
    display: none;
    position: fixed;
    bottom: 3px;
    right: 10px;
    z-index: 40;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: rgb(255, 187, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(242, 8, 0);
  }
 

  #course img {
    border-radius: 5px;
  }
  
  #courses img a {
   
    justify-content:left;
    color: rgb(36, 36, 36);
    padding: 0.5rem;
    text-decoration: none;
   
}

#courses a:hover img {
       border: rgb(255, 187, 0);
       border-style: solid;
       border-radius: 5px;
       

}



